<section class="filters">
  <div class="filters__header">
    <h2 class="filters__title" id="section-title">Exercises</h2>
    <div class="filters__controls">
      <form id="exercise-search-form" class="search-form is-hidden">
        <input
          type="text"
          id="exercise-search-input"
          class="search-form__input"
          placeholder="Search"
          aria-label="Search exercises"
        >
        <button type="button" class="search-form__btn--clear is-hidden" id="exercise-clear-btn" aria-label="Clear search">
          <svg width="18" height="18" aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <button type="submit" class="search-form__btn--submit" aria-label="Search">
          <svg width="18" height="18" aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="/img/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <ul id="filter-tabs" class="tabs" role="tablist" aria-label="Filter by category">
        <li class="tabs__item" role="presentation">
          <button class="tabs__btn tabs__btn--active" role="tab" aria-selected="true" data-filter="Muscles">Muscles</button>
        </li>
        <li class="tabs__item" role="presentation">
          <button class="tabs__btn" role="tab" aria-selected="false" data-filter="Body parts">Body parts</button>
        </li>
        <li class="tabs__item" role="presentation">
          <button class="tabs__btn" role="tab" aria-selected="false" data-filter="Equipment">Equipment</button>
        </li>
      </ul>
    </div>
  </div>
</section>
