<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo" aria-label="Your Energy - Home">
      <svg class="logo__icon" width="132" height="14" aria-hidden="true">
        <use href="/img/sprite.svg#logo"></use>
      </svg>
    </a>

    <nav class="nav" aria-label="Main">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link" id="nav-home">Home</a>
        </li>
        <li class="nav__item">
          <a href="./favorites.html" class="nav__link" id="nav-favorites">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="socials" aria-label="Social media links">
      <li class="socials__item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="socials__link"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="28" height="28" aria-hidden="true">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="socials__link"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="28" height="28" aria-hidden="true">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="socials__link"
          aria-label="YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="28" height="28" aria-hidden="true">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      type="button"
      class="burger"
      aria-label="Open menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      id="burger-btn"
    >
      <svg class="burger__icon" width="32" height="32" aria-hidden="true">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu" aria-label="Menu" role="dialog" aria-modal="true">
    <div class="mobile-menu__backdrop"></div>
    <div class="mobile-menu__content">
      <button
        type="button"
        class="mobile-menu__close"
        aria-label="Close menu"
        id="mobile-close-btn"
      >
        <svg class="mobile-menu__close-icon" width="32" height="32" aria-hidden="true">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <nav class="mobile-menu__nav" aria-label="Main">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a href="./index.html" class="mobile-menu__nav-link">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a href="./favorites.html" class="mobile-menu__nav-link">Favorites</a>
          </li>
        </ul>
      </nav>

      <ul class="mobile-menu__socials footer__socials" aria-label="Social media links">
        <li class="socials__item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="socials__link"
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="28" height="28" aria-hidden="true">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="socials__link"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="28" height="28" aria-hidden="true">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="socials__link"
            aria-label="YouTube"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="28" height="28" aria-hidden="true">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
