<article class="quote-card">
  <span class="quote-card__icon" aria-hidden="true">
    <svg width="20" height="20">
      <use href="/img/sprite.svg#icon-quote"></use>
    </svg>
  </span>
  <div class="quote-card__main">
    <div class="quote-card__header">
      <p class="quote-card__title">Quote of the day</p>
      <svg class="quote-card__decoration" aria-hidden="true">
        <use href="/img/sprite.svg#icon-quote-bg"></use>
      </svg>
    </div>
    <blockquote id="quote-text" class="quote-card__text">
      A lot of times I find that people who are blessed with the most talent don't ever develop that
      attitude, and the ones who aren't blessed in that way are the most competitive and have the
      biggest heart.
    </blockquote>
    <cite id="quote-author" class="quote-card__author">Tom Brady</cite>
  </div>
</article>
